<h1>Attributes</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Value</th>
    <th scope="col">Description</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let attr of attributes">
    <td><a [href]="'https://epol-gatewayapi.xfarm.xyz/attributes/'+attr.name">{{attr.name}}</a></td>
    <td>{{attr.value}}</td>
    <td>{{attr.description}}</td>
    <td>
      <a (click)="switchToUpdateAttr(attr)">
        <span class="material-icons">
         create
        </span>
      </a>
    </td>
    <td>
      <a (click)="delete(attr.name)">
        <span class="material-icons">
          clear
        </span>
      </a>
    </td>
  </tr>
  </tbody>
</table>


<h2 *ngIf="!isUpdatedForm">Create attribute</h2>
<form [formGroup]="attrForm"
      *ngIf="!isUpdatedForm">
  <div class="form-group">
    <p *ngIf="attrForm.controls['name'].errors?.required &&
                  attrForm.controls['name'].touched">
      Name can't be empty
    </p>
    <p *ngIf="isUserNameAlreadyExists">
      Such name is already exists
    </p>
    <p *ngIf="attrForm.controls['name'].errors?.pattern">
      Name doesn't match (e.g. 'mr_brown')
    </p>
    <input type="text"
           class="form-control"
           id="exampleInputName"
           placeholder="Name"
           formControlName="name"
           (input)="filterNames()">
  </div>
  <div class="form-group">
    <p *ngIf="attrForm.controls['value'].errors?.required &&
                  attrForm.controls['value'].touched">
      Value can't be empty
    </p>
    <input type="text"
           class="form-control"
           id="exampleInputValue"
           placeholder="Value"
           formControlName="value">
  </div>
  <div class="form-group">
    <p *ngIf="attrForm.controls['description'].errors?.required &&
                  attrForm.controls['description'].touched">
      Description can't be empty
    </p>
    <input type="text"
           class="form-control"
           id="exampleInputDesc"
           placeholder="Description"
           formControlName="description">
  </div>
  <button type="submit"
          class="btn btn-primary"
          (click)="save()"
          [disabled]="!attrForm.valid ||
                   (isUserNameAlreadyExists)">Save</button>

</form>



<h2 *ngIf="isUpdatedForm">Update {{attrForm.controls['name'].value}}</h2>

<form [formGroup]="attrForm"
      *ngIf="isUpdatedForm">

  <a id="switch_link"
     (click)="switchToCreateAttr()"
     *ngIf="isUpdatedForm">
    Create attribute
  </a>
  <div class="form-group">

  </div>
  <div class="form-group">
    <p *ngIf="attrForm.controls['value'].errors?.required &&
                  attrForm.controls['value'].touched">
      Value can't be empty
    </p>
    <input type="text"
           class="form-control"
           id="exampleInputValue1"
           placeholder="Value"
           formControlName="value">
  </div>
  <div class="form-group">
    <p *ngIf="attrForm.controls['description'].errors?.required &&
                  attrForm.controls['description'].touched">
      Description can't be empty
    </p>
    <input type="text"
           class="form-control"
           id="exampleInputDesc2"
           placeholder="Description"
           formControlName="description">
  </div>
  <button type="submit"
          class="btn btn-primary"
          (click)="update()"
          [disabled]="!attrForm.valid">Update</button>

</form>
